
.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}
a > .icon-tabler-chevron-left {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
}
a > .icon-tabler-chevron-right {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
}

a >.icon-tabler-chevron-left path:hover{
    cursor: pointer;
    color: #717171;
    transition: color 0.6s ease;
}
a > .icon-tabler-chevron-right path:hover{
    cursor: pointer;
    color: #717171;
    transition: color 0.6s ease;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


.dots{
    position: absolute;
    bottom: 0;
}
.dot {
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: 0 2px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4;
    }

    to {
        opacity: 1;
    }
}
